<h1>This Week's List of Blog Posts</h1>

<div class="newpost">
  <%= link_to "Add new Post", new_post_path %>
</div>


  <% @posts.each do |post| %>

    <div class="postname">
        <%= link_to post.postname, post_path(post) %>
    </div>

    <div class="time">
      <%= post.created_at %>
    </div>

  <div class="delete">
    <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>


  <% end %>
</ul>